*{
    box-sizing: border-box
}

body {
    margin: 0;
}

.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;


}

.container {
    margin: 1rem;
    text-align: center;
  }

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav-links {
    display: inline-block;
    height: 20px;
    background-color: white;
    /*will change background-color of element */
    color: #ff6325;
    /*will change color of text within the element */
}

.nav-links:hover {
    background-color: #ff6325;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
  }
  

.cancel-button button {
    width: 100px;
    background:white ;
    color: orange;
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid orange;
    border-radius: 10px;
}

.post-button button {
    width: 100px;
    background:orange ;
    color: white;
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid orange;
    border-radius: 10px;
}

.post-field textarea {
    height: 150px;
}

.collapsible .content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: #221717;
    padding: 6px;
    cursor: pointer;
}

.Collapsible__trigger {
    font-size: 15px;
    color: orange;
    border: 1px solid orange;
    padding: 0.5rem;
    border-radius: 5px;
  }